/*
We are going to start by making it for phone users
*/

body{
    padding: 0;   /* We are removing defualt padding and margins of the browser */
    margin: 0;
}

header{
    position: fixed;    
    right: 0;
    left: 0;
    background-color: #f5f5f5;
    height: 50px;
    padding-bottom:50px ;
}
#head1{                  /* this is the first section of the header*/
    display: flex;
    align-content: space-between;   
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
#logo{
    width: 30px;   
    margin-right: 20px;
}
.hd1{   /* this will applly to all hd1, the font-size is for the company name(TradeLink) elements on this page */
    font-size: 13px;
    margin-right: 5px;
    flex: 1;
    text-align: center;
}
.link{
    color: red;     /*this code will turn link on the tradelink name red*/
}
#head2{            /* the css targets the second section of the header*/
    padding-left: 20px;
    padding-right: 20px;
}                          
#searchBar-container{
    flex: 1;
    display: flex;    /* the searchbar container complise of the search bar itself and the search button, this code displays it as a flexbox*/
    padding-top: 2px;
   
}
#searchBar{
    flex: 1;  /* the search bar has a flex of 1, meaning that it will take over the remaining space*/
    margin-right: -20px;   /* the code is intented to make the left side of the button to enter the search bar*/
}
#searchIcon{   
    height: 15px; /* this code increases the height of the search icon image inside the search button*/
  
}
#searchBtn{   /* this targets the search button on the header*/
    width: 8px;
    height: 18px;
    border-left: none;

}
#cartIcon{    
 width: 50px;
 margin-left: 5px;
}
/*
Let us begin styling the nav section
*/
#menu{
    width: 50px;
    height: 50px;
}
nav{
    display: flex;
    position: relative;
    padding-top: 55px;
    z-index: 100;
    align-items: center ;
}
nav a{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(36, 35, 35);
}
